body{
  background:url(../img/bgi.jpg) no-repeat center center fixed #EB8E1C;
  background-size:cover;
  color: #fff !important;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}