.quiz-question .table-huge{
  border-collapse: collapse;
}

.quiz-question .table-huge tr td, .quiz-question .table-huge tr th{
  text-align: center;
}

.overline{
  text-decoration: overline;
  letter-spacing: -2px;
  padding-right: 2px;
  margin-right: 4px;
}
.logic-sign{
  color: #000000;
}


//small tables

.quiz-question .table-small tr td{
  text-align: center;
}